/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/** HTML elements **/
a:link, a:visited {
  text-decoration: none;
  color: #f3287a;
}

a:hover {
  color: black;
}

.form-required {
  display: none;
}

/** Layout override **/
.container-12 {
  width: 950px !important;
}

.container-12 .grid-12 {
  width: 930px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
}

h1 {
  font-size: 28px;
  font-weight: lighter;
}

h3 {
  font-size: 16px;
}

a.left-linkedin {
  display: inline-block;
  height: 23px;
  width: 23px;
  background: url(../img/linkedin.jpg) no-repeat center center;
  text-indent: -999em;
}

/** Layout **/
body {
  min-height: 100%;
  height: 100%;
  background: #e4e3e3 url(../img/main_right_bottom.png) no-repeat right bottom;
}

/** Branding helemaal bovenaan **/
#branding {
  float: left;
  margin-top: 30px;
  width: 371px;
  height: 77px;
  background: url(../img/branding.png) no-repeat left top;
}

#branding a {
  display: block;
  height: 77px;
}

#branding p {
	display: none;
}

#logo {
  float: right;
  width: 286px;
  height: 110px;
  background: url(../img/logo.png) no-repeat left top;
  text-indent: -999em;
}

#logo a {
  display: block;
  height: 110px;
  text-indent: -999em;
}

/** Menu **/
.zone-menu-wrapper {
  background: #e90068;
  height: 30px;
}

.zone-menu-wrapper #block-system-main-menu ul {
  margin: 0;
  padding: 0;  
}

.zone-menu-wrapper #block-system-main-menu ul li {
  color: white;
  float: left;
  height: 30px;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.zone-menu-wrapper #block-system-main-menu ul li a {
  border-right: 1px solid white;
  color: white;
	padding: 0 10px;
}

.zone-menu-wrapper #block-system-main-menu ul li.first a {
  border-left: 1px solid white;
}

.zone-menu-wrapper #block-system-main-menu ul li a.active {
 	text-decoration: underline;
}


/** Content **/
#zone-content-wrapper {
  min-height: 420px;
}

#section-content {
  background: url(../img/main_left_top.png) no-repeat left top;
}

#region-content {
  margin-bottom: 20px;
  background: white;
}

.page-node-7 #region-content {
  background: none;
}

#block-system-main {
  margin-top: 10px;
}


/** Footer **/
#zone-footer-wrapper {
  height: 76px;
  background: url(../img/footer.png) no-repeat center bottom;
}

#zone-footer-wrapper #block-block-2 {
  text-indent: -999em;
}


/** Homepage w/ form "stel je vraag" **/
#webform-component-markup-left {
  margin-left: 0;
  width: 320px;
  float: left;
}

#webform-component-form-right {
  margin-left: 340px;
  padding-right: 20px;
}

#webform-component-form-right--form-itself {
  background: #353534;
  padding: 15px;
  position: relative;
  margin-bottom: 0;
}

#webform-component-form-right--form-itself #edit-submitted-form-right-form-itself-ask-your-question-here {
  height: 40px;
}

#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-name {
  position: relative;
}

#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-name label,
#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-company label,
#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-country label {
  font-size: 10px;
}

#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-name .form-text,
#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-company .form-text,
#webform-component-form-right--form-itself #webform-component-form-right--form-itself--your-country .form-text {
  width: 375px;
}

#webform-client-form-6 {
  position: relative;
  margin-bottom: 100px;
}

#webform-client-form-6 #webform-component-form-right--share-this {
  position: absolute;
  right: 10px;
  bottom: -60px;
}

#webform-client-form-6 #webform-component-form-right--share-this ul {
  margin: 0;
  padding: 0;
}

#webform-client-form-6 #webform-component-form-right--share-this ul li {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  float: left;
}

#webform-client-form-6 #webform-component-form-right--share-this ul li a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -999em;
}

#webform-client-form-6 #webform-component-form-right--share-this ul li a.fb {
  background: url(../img/icon_facebook.png);
}

#webform-client-form-6 #webform-component-form-right--share-this ul li a.tw {
  background: url(../img/icon_twitter.png);
}

#webform-client-form-6 #edit-submit {
  width: 136px;
  height: 52px;
  color: white;
  background: url(../img/send.png) no-repeat center center;
  border: none;
  text-shadow: none;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

#webform-client-form-6 a.btn_extra {
  display: block;
  color: white;background: url(../img/btn_get_gift.jpg) no-repeat center center;
  text-align: center;
  width: 95px;
  height: 32px;
  line-height: 32px;
}

#webform-client-form-6 #webform-component-form-right--extra-gift p {
  margin-bottom: 10px;
}

#webform-client-form-6 .infowindow1, #webform-client-form-6 .infowindow2 {
  background: #666;
  padding: 20px;
  border: 4px solid #333;
  border-radius: 10px;
  position: absolute;
}

#webform-client-form-6 .infowindow1 {
  left: 100px;
  top: 200px;
  z-index: 10000;
}

#webform-client-form-6 .infowindow2 {
  left: 100px;
  top: 250px;
  z-index: 10000;
}

/** Claim je cadeau formulier **/
#webform-client-form-7 {
  margin-top: 40px;
  position: relative;
}

#webform-client-form-7 h1 {
  font-family: Arial;
  font-weight: lighter;
}

#webform-client-form-7 .form-item {
  margin: 0.5em;
}

#webform-client-form-7 label {
  font-size: 10px;
}

#webform-client-form-7 #webform-component-formulier {
  background: #353533;
  padding: 10px;
  padding-bottom: 60px;
}

#webform-client-form-7 #webform-component-formulier--name-left {
  width: 340px;
  float: left;
}

#webform-client-form-7 #webform-component-formulier--form-right {
  margin-left: 320px;
}

#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--street,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--street .form-text  {
  width: 250px;
  float: left;
}

#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--number,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--number .form-text  {
  width: 150px;
  float: left;
}

#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--zip-postal-code,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--zip-postal-code .form-text  {
  clear: both;
  width: 150px;
  float: left;
}

#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--city-town,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--city-town .form-text  {
  width: 250px;
  float: left;
}

#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--country,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--country .form-text  {
  clear: both;
  width: 413px;
  float: left;
}

#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--company,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--company .form-text,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--email,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--email .form-text,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--handover,
#webform-client-form-7 #webform-component-formulier--form-right #webform-component-formulier--form-right--handover .form-text  {
  width: 413px;
}

#webform-client-form-7 #webform-component-gift {
  display: none;
}

#webform-client-form-7 #webform-component-title {
  margin-left: 40px;
}

#webform-component-formulier {
  margin: 0 40px;
}

#webform-client-form-7 #webform-component-gift-markup {
  cursor: pointer;
  margin-left: 40px;
}

#webform-client-form-7 #webform-component-gift-markup ul.gifts {
  margin: 0;
  padding: 0;
}

#webform-client-form-7 #webform-component-gift-markup ul.gifts li {
  width: 410px;
  padding-left: 10px;
  float: left;
  list-style: none;
}

#webform-client-form-7 #webform-component-gift-markup ul.gifts li a.image {
  display: block;
  height: 170px;
  margin-bottom: 10px;
}

#webform-client-form-7 #webform-component-gift-markup ul li.gift1 a.image{
  background: url(../img/gift-1.jpg) no-repeat left top;
}

#webform-client-form-7 #webform-component-gift-markup ul li.gift1 a.image:hover,
#webform-client-form-7 #webform-component-gift-markup ul li.gift1.selected a.image {
  background: url(../img/gift-1-hover.jpg) no-repeat left top;
}

#webform-client-form-7 #webform-component-gift-markup ul li.gift2 a.image {
  background: url(../img/gift-2.jpg) no-repeat left top;
}

#webform-client-form-7 #webform-component-gift-markup ul li.gift2 a.image:hover,
#webform-client-form-7 #webform-component-gift-markup ul li.gift2.selected a.image {
  background: url(../img/gift-2-hover.jpg) no-repeat left top;
}

#webform-client-form-7 #edit-submit {
  width: 136px;
  height: 52px;
  color: white;
  background: url(../img/send.png) no-repeat center center;
  border: none;
  text-shadow: none;
  position: absolute;
  bottom: 10px;
  right: 85px;
}

/** Confirmation for question page **/
.page-node-8 #block-system-main .block-inner {
  margin: 30px;
}

fieldset.webform-component-fieldset label {
  color: white;
}

#webform-component-formulier--name-left,
#webform-component-formulier--form-right--handover {
 color: white;
}